.role-color-colored {
  color: var(--color) !important;
  background-color: var(--background-color) !important;
}

.role-color-colored:hover {
  color: var(--hover-color, var(--color)) !important;
  background-color: var(--hover-background-color, var(--background-color)) !important;
}

.role-color-colored.role-color-child-colored > * {
  color: inherit !important;
  background-color: inherit !important;
}

.role-color-missing {
  text-decoration: line-through;
}
